.container {
    position: absolute;
    left: 180px;  
    bottom: 100px;
}
.compcontainer{
    position: relative ;
    left: 180px;  
    bottom:450px;
    right: 180px;
}
.Qcontainer{
    position: absolute ;
    left: 180px;
    top: 100px;  
    bottom:5px;
    right: 180px;
}
